@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

body, html, .contenedor {
  height: 100%;
}

body {
  background-color: #150d0a;
}

h1, h2 {
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
  padding-top: 1em;
}

code {
  font-family: 'Share Tech Mono', monospace;
  color: #fdf6e3;
  padding: 0.2em;
  border-radius: 10px;
}

p {
  text-align: center;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  padding: 10em;
}

#bienvenida, #detalles {
  height: 100vh;
  padding: 1em;
}

#bienvenida-img {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

#bienvenida-img::after {
  content: "";
  background: #150d0a url(/img/defenders.jpg) center center no-repeat;
  background-size: auto 100%;
  opacity: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  flex: 1;
}

.zoom {
  font-size: inherit;
}

@media screen and (min-width: 786px) {
  .zoom {
    font-size: 2.2em;
  }

  p {
    padding: 1em;
  }
}

.blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fdf6e3;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fdf6e3;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fdf6e3;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fdf6e3;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fdf6e3;
  }
}
